.nav-container {
  background: black;
  margin: 0px;
}

.nav-link {
  font-size: 30px;
  color: white;
}

.nav-link:hover {
  background-color: #E6E4E2;
  color: black;
}

#logo-txt {
  font-size: 40px;
  padding: 3%;
  font-weight: 300;
}

.bottom-navbar {
  background-color: #444;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0px;
  padding: 1%;
  flex-flow: row wrap;
}

.bottom-bottom-navbar {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0px;
  padding: 1%;
  flex-flow: row wrap;
  font-family: 'Bodoni Moda',
    serif;
  font-size: x-large;
}

.bottom-bottom-navbar a {
  text-decoration: none;
  color: white;
}

.bottom-bottom-navbar a:hover {
  background: #fff;
  color: #444;
}

.text-end {
  float: right;
  text-align: center;
  width: fit-content;
}

.nav-container a {
  font-family: 'Bodoni Moda', serif;
}

.top-container-homepage {
  height: 200px;
  width: auto;
  position: relative;
}


#log-out-btn {
  color: blakc;
}



/* main pictures homepage */

.main-picture-home {
  margin: 1%;
  margin-top: 10%;
  padding: 2em;
  height: 1200px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/mainpichome.jpg');
}

.main-picture-home h1{
  color:black;
  position: absolute;
  font-size: 20em;
}

@media only screen and (max-width: 600px) {
  .main-picture-home h1 {
    color: white;
    position: absolute;
    margin-top: 50%;
    font-size: 5em;
  }
}



.search {
  width: 700px;
  height: 41px;
  background: #444;
  background: rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid #fff;

}

.input {
  width: 500px;
  padding: 10px 5px;
  float: left;
  color: white;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.input:focus {
  outline: 0;
  background: transparent;
}

.button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.button:hover {
  background: #fff;
  color: #444;
}

.button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.button:focus {
  outline: 0;
}


.logo {
  padding: 8%;
}




/*main content of the homepage*/


.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin:2%;
  padding:2em;
  margin-top: 10%;
}





/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}


.card2 {
  height: fit-content;
  background-color: rgb(34, 33, 33);
  color: white;
  text-align: center;
  padding: 2%;
  font-family: 'Bodoni Moda', serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card2 img {
  width: 200px;
  height: 200px;
  margin: auto;
}




.card2 a {
  color: white;
  padding: 2%;
  width: fit-content;
  text-decoration: none;
}


/* products page css */
#products-page {
  margin: auto;
  background-image: url('../images/img1cut.png');
}

.intro-page {
  font-family: 'Bodoni Moda', serif;
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
  padding: 4%;
}



/*footer*/
footer {
  position: relative;
  bottom: 0px;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Montserrat",
    sans-serif;
}

footer h2 {
  font-family: "Bodoni", serif;
}


footer div {
  margin: 1.5%;
}

footer a {
  outline: none;
  text-decoration: none;
  color: white;
}

#foot-link {
  font-size: x-large;
}

footer li {
  list-style-type: none;
}

.fa {
  font-size: larger;
  width: 50px;
}


#copyright {
  width: 100%;
  height: fit-content;
  margin: 0px;
  text-align: center;
  background-color: #444;
  backdrop-filter: saturate(180%) blur(20px);
  padding: 1%;
}

/* about us css */

.about-us-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 1%;
  padding: 2em;
  flex-flow: row wrap;
}

.about-us-left img {
  height: 900px;
  width: auto;
}

.about-us-right {
  width: 700px;
  font-size: larger;
  font-family: 'Nunito', sans-serif;
}

.about-us-right h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: xx-large;
  font-weight: 600;
}



.flex-container {
  display: flex;
  padding: 2em;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container>div {
  margin: 1em;
  flex-grow: 4;
  justify-self: center;
}

.container {
  max-width: 100%;
}

#product-card {
  background-color: #444;
}